Repository erdalgunes/kelime-islem, changes with the labels that .github/labeler.yml gives for each.
All labels: needs/architecture-review, needs/performance-review, needs/security-review, needs/database-review, needs/kmp-review, needs/ui-review, needs/test-review, documentation, ci, dependencies

feat: Add self-healing CI/CD with Codegen.sh orchestration
  .github/codegen.yml
  .github/workflows/codegen-orchestrator.yml
  .github/workflows/coderabbit-fix-handler.yml
  .github/workflows/fix-validation-pipeline.yml
  .github/workflows/self-heal.yml
  .github/workflows/validate-fixes.yml
  docs/SELF_HEALING_CI.md
Labels: needs/security-review, documentation, ci

feat: Implement proactive self-healing CI/CD
  .github/codegen.yml
  .github/workflows/coderabbit-agent.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/proactive-healing.yml
  .github/workflows/self-heal.yml
  .github/workflows/validate-fixes.yml
Labels: needs/security-review, ci

test: Add file with intentional errors to verify Codegen auto-fix
  test-codegen-fix.js
Labels: none

test: Add Kotlin file with intentional errors for Codegen
  .github/scripts/spawn_agent.py
  .github/workflows/coderabbit-handler.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/self-healing.yml
  composeApp/src/commonMain/kotlin/TestCodegenFix.kt
  test-codegen-fix.js
Labels: needs/security-review, needs/kmp-review, ci

feat: Add Codegen integration workflows
  .github/workflows/codegen-check-monitor.yml
  .github/workflows/codegen-coderabbit-integration.yml
Labels: needs/security-review, ci

chore: Clean up conflicting workflows and add simple CodeRabbit-Codegen integration
  .github/workflows/codegen-orchestrator.yml
  .github/workflows/coderabbit-codegen.yml
  .github/workflows/coderabbit-fix-handler.yml
  .github/workflows/fix-validation-pipeline.yml
Labels: needs/security-review, ci

feat: Add StringUtils with code quality issues
  composeApp/src/commonMain/kotlin/com/kelimeislem/utils/StringUtils.kt
Labels: needs/kmp-review

fix: Correct CodeRabbit bot username in workflow trigger
  .github/workflows/coderabbit-codegen.yml
Labels: needs/security-review, ci

debug: Add comprehensive event payload logging
  .github/workflows/coderabbit-codegen.yml
Labels: needs/security-review, ci

fix: Simplify debug logging to avoid YAML parsing issues
  .github/workflows/coderabbit-codegen.yml
Labels: needs/security-review, ci

fix: Correct YAML syntax in CodeRabbit-Codegen integration workflow
  .github/workflows/coderabbit-codegen.yml
Labels: needs/security-review, ci

feat: Add test file with intentional code issues for CodeRabbit
  composeApp/src/commonMain/kotlin/com/kelimeislem/test/CodeRabbitTest.kt
Labels: needs/kmp-review, needs/test-review

verify: Confirm Codegen integration is working
  CLAUDE.md
Labels: documentation

feat: Add manual workflow_dispatch trigger for Codegen
  .github/workflows/coderabbit-codegen.yml
Labels: needs/security-review, ci

docs: Add lean Codegen integration status to CLAUDE.md
  CLAUDE.md
Labels: documentation

test: Add file with obvious issues for Codegen testing
  test-codegen-file.js
Labels: none

feat: Document VERIFIED Codegen integration success
  CLAUDE.md
Labels: documentation

feat: Self-healing CI/CD with Codegen.sh orchestration (#18)
  .github/codegen.yml
  .github/workflows/coderabbit-agent.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/proactive-healing.yml
  docs/SELF_HEALING_CI.md
Labels: needs/security-review, documentation, ci

Update CLAUDE.md
  CLAUDE.md
Labels: documentation

refactor: streamline CI/CD from 11 to 4 GitFlow-aligned workflows
  .github/codegen.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codegen-check-monitor.yml
  .github/workflows/coderabbit-agent.yml
  .github/workflows/coderabbit-codegen.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/kmp-ci.yml
  .github/workflows/pr-explainer.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-validation.yml
  .github/workflows/proactive-healing.yml
  .github/workflows/security-scan.yml
Labels: needs/security-review, ci

feat: comprehensive project management setup
  .github/DISCUSSION_TEMPLATE/architecture-decision.yml
  .github/DISCUSSION_TEMPLATE/rfc.yml
  .github/DISCUSSION_TEMPLATE/sprint-planning.yml
  .github/DISCUSSION_TEMPLATE/sprint-retrospective.yml
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
  PROJECT_ROADMAP.md
  docs/COMMUNICATION.md
  docs/DECISION_MAKING.md
  docs/PROJECT_MANAGEMENT.md
  docs/TEAM_CHARTER.md
Labels: needs/security-review, documentation, ci

fix: prevent duplicate comments on epic linking
  .github/workflows/project-automation.yml
Labels: needs/security-review, ci

fix: resolve YAML syntax errors in project automation workflow
  .github/workflows/project-automation.yml
Labels: needs/security-review, ci

fix: correct sprint date calculation using consistent anchor date
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

fix: prevent divide-by-zero errors in sprint metrics calculations
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

fix: dynamically resolve discussion categories to prevent hardcoded ID failures
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

fix: correct review dates to be after last updated dates
  PROJECT_ROADMAP.md
  docs/COMMUNICATION.md
  docs/DECISION_MAKING.md
  docs/PROJECT_MANAGEMENT.md
  docs/TEAM_CHARTER.md
Labels: documentation

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: needs/security-review, ci

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: needs/security-review, ci

refactor: streamline CI/CD to minimal, maintainable setup
  .coderabbit.yaml
  .github/codegen.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codegen-check-monitor.yml
  .github/workflows/coderabbit-agent.yml
  .github/workflows/coderabbit-codegen.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/pr-explainer.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/proactive-healing.yml
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

Update .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Labels: needs/security-review, ci

Add Claude Code GitHub Workflow (#39)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: needs/security-review, ci

refactor: streamline CI/CD to minimal, maintainable setup (#40)
  .coderabbit.yaml
  .github/codegen.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/codegen-check-monitor.yml
  .github/workflows/coderabbit-agent.yml
  .github/workflows/coderabbit-codegen.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/pr-explainer.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/proactive-healing.yml
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

fix: update project management workflows for compatibility
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

fix: improve PR metrics calculation in sprint-metrics workflow
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

fix: correct burndown loop to generate exactly 14 days
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

fix: query repository ID via GraphQL for scheduled events
  .github/workflows/project-automation.yml
Labels: needs/security-review, ci

fix: address PR #38 feedback - fix branching model, add newlines, update review dates
  .github/workflows/kmp-ci.yml
  .github/workflows/project-automation.yml
  .github/workflows/release.yml
  .github/workflows/sprint-metrics.yml
  CONTRIBUTING.md
  PROJECT_ROADMAP.md
  docs/COMMUNICATION.md
  docs/DECISION_MAKING.md
  docs/PROJECT_MANAGEMENT.md
  docs/TEAM_CHARTER.md
Labels: needs/security-review, documentation, ci

fix: address PR #38 security and reliability feedback
  .github/DISCUSSION_TEMPLATE/sprint-planning.yml
  .github/workflows/project-automation.yml
Labels: needs/security-review, ci

fix: address PR review #3274955041 - security and reliability improvements
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
  docs/PROJECT_MANAGEMENT.md
Labels: needs/security-review, documentation, ci

.github/labeler.yml:

# Configuration for actions/labeler
# This file defines path-based automatic labeling rules

# Architecture review needed for core system changes
needs/architecture-review:
  - changed-files:
    - any-glob-to-any-file:
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/core/**'
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/domain/**'
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/infrastructure/**'
      - '**/Application.kt'
      - '**/AppModule.kt'
      - '**/DI/**'

# Performance review needed for critical components
needs/performance-review:
  - changed-files:
    - any-glob-to-any-file:
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/utils/PerformanceMonitor.kt'
      - '**/*Cache*.kt'
      - '**/*Repository*.kt'
      - '**/*Query*.kt'
      - '**/*Index*.kt'
      - '**/data/local/**'

# Security review needed for auth and sensitive code
needs/security-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/crypto/**'
      - '**/security/**'
      - '**/*Token*.kt'
      - '**/*Permission*.kt'
      - '**/*Auth*.kt'
      - '**/*Encrypt*.kt'
      - '.github/workflows/**'

# Database review needed for schema changes
needs/database-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.sql'
      - '**/migrations/**'
      - '**/*Schema*.kt'
      - '**/*Database*.kt'
      - '**/*Entity.kt'
      - '**/data/database/**'

# KMP review needed for multiplatform code
needs/kmp-review:
  - changed-files:
    - any-glob-to-any-file:
      - 'composeApp/src/commonMain/**'
      - 'composeApp/src/androidMain/**'
      - 'composeApp/src/jsMain/**'
      - 'composeApp/src/iosMain/**'
      - 'composeApp/src/desktopMain/**'
      - 'composeApp/build.gradle.kts'
      - 'gradle/libs.versions.toml'

# UI review needed for interface changes
needs/ui-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/ui/**'
      - '**/*Composable*.kt'
      - '**/*Theme*.kt'
      - '**/*Color*.kt'
      - '**/*Style*.kt'
      - '**/*.xml'
      - '**/presentation/**'
      - '**/resources/**'
      - 'design-system/**'

# Test review needed for test changes
needs/test-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*Test.kt'
      - '**/*Test.java'
      - '**/test/**'
      - '**/androidTest/**'
      - '**/commonTest/**'
      - '**/jsTest/**'
      - '**/*.test.*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - '**/README*'
      - 'LICENSE*'

# CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - 'scripts/**'
      - '.github/labeler.yml'
      - '.github/pr-labeler.yml'

# Dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'gradle/libs.versions.toml'
      - '**/build.gradle.kts'
      - 'gradle.properties'
      - 'settings.gradle.kts'
      - 'package.json'
      - 'package-lock.json'
