Repository erdalgunes/kelime-islem, changes with the labels that .github/labeler.yml gives for each.
All labels: needs/architecture-review, needs/performance-review, needs/security-review, needs/database-review, needs/kmp-review, needs/ui-review, needs/test-review, documentation, ci, dependencies

.github/labeler.yml:

# Configuration for actions/labeler
# This file defines path-based automatic labeling rules

# Architecture review needed for core system changes
needs/architecture-review:
  - changed-files:
    - any-glob-to-any-file:
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/core/**'
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/domain/**'
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/infrastructure/**'
      - '**/Application.kt'
      - '**/AppModule.kt'
      - '**/DI/**'

# Performance review needed for critical components
needs/performance-review:
  - changed-files:
    - any-glob-to-any-file:
      - 'composeApp/src/commonMain/kotlin/com/kelimeislem/utils/PerformanceMonitor.kt'
      - '**/*Cache*.kt'
      - '**/*Repository*.kt'
      - '**/*Query*.kt'
      - '**/*Index*.kt'
      - '**/data/local/**'

# Security review needed for auth and sensitive code
needs/security-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/crypto/**'
      - '**/security/**'
      - '**/*Token*.kt'
      - '**/*Permission*.kt'
      - '**/*Auth*.kt'
      - '**/*Encrypt*.kt'
      - '.github/workflows/**'

# Database review needed for schema changes
needs/database-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.sql'
      - '**/migrations/**'
      - '**/*Schema*.kt'
      - '**/*Database*.kt'
      - '**/*Entity.kt'
      - '**/data/database/**'

# KMP review needed for multiplatform code
needs/kmp-review:
  - changed-files:
    - any-glob-to-any-file:
      - 'composeApp/src/commonMain/**'
      - 'composeApp/src/androidMain/**'
      - 'composeApp/src/jsMain/**'
      - 'composeApp/src/iosMain/**'
      - 'composeApp/src/desktopMain/**'
      - 'composeApp/build.gradle.kts'
      - 'gradle/libs.versions.toml'

# UI review needed for interface changes
needs/ui-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/ui/**'
      - '**/*Composable*.kt'
      - '**/*Theme*.kt'
      - '**/*Color*.kt'
      - '**/*Style*.kt'
      - '**/*.xml'
      - '**/presentation/**'
      - '**/resources/**'
      - 'design-system/**'

# Test review needed for test changes
needs/test-review:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*Test.kt'
      - '**/*Test.java'
      - '**/test/**'
      - '**/androidTest/**'
      - '**/commonTest/**'
      - '**/jsTest/**'
      - '**/*.test.*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - '**/README*'
      - 'LICENSE*'

# CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - 'scripts/**'
      - '.github/labeler.yml'
      - '.github/pr-labeler.yml'

# Dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'gradle/libs.versions.toml'
      - '**/build.gradle.kts'
      - 'gradle.properties'
      - 'settings.gradle.kts'
      - 'package.json'
      - 'package-lock.json'

feat: implement PR review suggestions - improve reliability and maintainability
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
Labels: needs/security-review, ci

feat: implement comprehensive project management framework (#38)
  .github/DISCUSSION_TEMPLATE/architecture-decision.yml
  .github/DISCUSSION_TEMPLATE/rfc.yml
  .github/DISCUSSION_TEMPLATE/sprint-planning.yml
  .github/DISCUSSION_TEMPLATE/sprint-retrospective.yml
  .github/workflows/kmp-ci.yml
  .github/workflows/project-automation.yml
  .github/workflows/release.yml
  .github/workflows/sprint-metrics.yml
  CONTRIBUTING.md
  PROJECT_ROADMAP.md
  docs/COMMUNICATION.md
  docs/DECISION_MAKING.md
  docs/PROJECT_MANAGEMENT.md
  docs/TEAM_CHARTER.md
Labels: needs/security-review, documentation, ci

test: validate enhanced git hooks performance
  test-file.txt
Labels: none

docs: comprehensive CLAUDE.md update with project architecture
  CLAUDE.md
Labels: documentation

fix: add text language hint to design system tree to resolve MD040 lint error
  CLAUDE.md
Labels: documentation

docs: add important-instruction-reminders and clarify coverage targets
  CLAUDE.md
Labels: documentation

docs: comprehensive CLAUDE.md update with project architecture (#43)
  CLAUDE.md
Labels: documentation

feat: implement enhanced git hooks for improved development workflow
  .github/workflows/project-automation.yml
  .github/workflows/sprint-metrics.yml
  scripts/install-hooks.sh
  scripts/manage-hooks.sh
  test-file.txt
Labels: needs/security-review, ci

feat: implement enhanced git hooks for development workflow optimization
  hooks/pre-commit
  hooks/pre-push
  scripts/install-hooks.sh
  scripts/manage-hooks.sh
Labels: ci

fix: address platform compatibility issues in git hooks
  hooks/pre-commit
  hooks/pre-push
  scripts/manage-hooks.sh
Labels: ci

Refactor workflow Gradle task validation and add Detekt static analysis to pre-commit hook
  scripts/hooks/pre-commit
Labels: ci

feat: enhance Git hooks with improved robustness and configurability
  scripts/hooks/pre-commit
  scripts/hooks/pre-push
  scripts/install-hooks.sh
Labels: ci

fix: update SonarCloud configuration and Android SDK 36
  .github/SECRETS.md
  .gitignore
  CLAUDE.md
  build.gradle.kts
  gradle/libs.versions.toml
  sonar-project.properties
Labels: needs/kmp-review, documentation, dependencies

fix: update SonarCloud configuration and Android SDK 36 (#51)
  .github/SECRETS.md
  .gitignore
  CLAUDE.md
  build.gradle.kts
  gradle/libs.versions.toml
  sonar-project.properties
Labels: needs/kmp-review, documentation, dependencies

Update scripts/hooks/pre-push
  scripts/hooks/pre-push
Labels: ci

fix: address all code review feedback for Git hooks
  scripts/hooks/pre-commit
  scripts/hooks/pre-push
Labels: ci

Update scripts/hooks/pre-commit
  scripts/hooks/pre-commit
Labels: ci

Update scripts/hooks/pre-push
  scripts/hooks/pre-push
Labels: ci

feat: enhance Git hooks with improved robustness and configurability (#50)
  scripts/hooks/pre-commit
  scripts/hooks/pre-push
  scripts/install-hooks.sh
Labels: ci

feat: enhance SonarCloud CI/CD integration
  .github/workflows/kmp-ci.yml
  .github/workflows/sonarcloud.yml
  build.gradle.kts
Labels: needs/security-review, ci, dependencies

fix: address code review feedback for SonarCloud integration
  .github/workflows/sonarcloud.yml
Labels: needs/security-review, ci

feat: enhance SonarCloud CI/CD integration (#56)
  .github/workflows/kmp-ci.yml
  .github/workflows/sonarcloud.yml
  build.gradle.kts
Labels: needs/security-review, ci, dependencies

feat: implement automatic version management system
  .github/workflows/update-api.yml
  .github/workflows/version-management.yml
  composeApp/src/commonMain/kotlin/com/erdalgunes/kelimeislem/update/UpdateChecker.kt
  gradle/version.properties
  scripts/version-manager.sh
Labels: needs/security-review, needs/kmp-review, ci
